<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="progressReportService" class="ru.svalov.ma.progressreport.ProgressReportServiceImpl"/>

    <bean id="projectCardFactory" class="ru.svalov.ma.genplan.ProjectCardFactory"/>

    <bean id="reportItemHeadParser" class="ru.svalov.ma.genplan.parser.ReportItemHeadParser"/>
    <bean id="reportItemCommentParser" class="ru.svalov.ma.genplan.parser.ReportItemCommentParser"/>
    <bean id="reportItemTailParser" class="ru.svalov.ma.genplan.parser.ReportItemTailParser"/>

    <bean id="reportItemFactory" class="ru.svalov.ma.genplan.parser.ProjectReportFactoryImpl" scope="prototype">
        <property name="itemParsers">
            <map>
                <entry key="#{T(ru.svalov.ma.genplan.parser.ReportItem).HEAD.count}"
                       value-ref="reportItemHeadParser"/>
                <entry key="#{T(ru.svalov.ma.genplan.parser.ReportItem).COMMENT.count}"
                       value-ref="reportItemCommentParser"/>
                <entry key="#{T(ru.svalov.ma.genplan.parser.ReportItem).TAIL.count}"
                       value-ref="reportItemTailParser"/>
            </map>
        </property>
        <property name="projectCardFactory" ref="projectCardFactory"/>
    </bean>

    <bean id="properties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="test.properties"/>
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

</beans>