<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="test.properties"/>
    </bean>

    <bean id="credentialService" class="ru.svalov.ma.auth.google.GoogleCredentialService">
        <property name="accessType" value="offline"/>
        <property name="clientSecret" value="client_secret.json"/>
        <property name="credentialsStore" value=".credentials/management-assistant"/>
        <property name="scopes">
            <list value-type="java.lang.String">
                <value><![CDATA[https://www.googleapis.com/auth/calendar]]></value>
                <value><![CDATA[https://spreadsheets.google.com/feeds]]></value>
            </list>
        </property>
    </bean>

    <bean id="calendarService" class="ru.svalov.ma.planner.google.GoogleCalendarService">
        <property name="credentialService" ref="credentialService"/>
        <property name="applicationName" value="${application.name}"/>
    </bean>

    <bean id="sheetsService" class="ru.svalov.ma.data.google.GoogleSheetsService">
        <property name="credentialService" ref="credentialService"/>
        <property name="applicationName" value="${application.name}"/>
    </bean>

    <bean id="dailyDutyService" class="ru.svalov.ma.planner.DailyDutyService">
        <property name="employeesProvider" ref="employeesProvider"/>
        <property name="dailyDutyEventsService" ref="dailyDutyEventsService"/>
        <property name="holidayEventsService" ref="holidayEventsService"/>
        <property name="laborEventsService" ref="laborEventsService"/>
        <property name="historyLookupDays" value="${dailyduty.historyLookupDays}"/>
        <property name="parallelDataLoad" value="false"/>
    </bean>

    <bean id="dailyDutyEventsService" class="ru.svalov.ma.planner.google.GoogleCalendarEventsService">
        <property name="calendarId" value="${events.calendar.id}"/>
        <property name="eventFactory" ref="calendarEventFactory"/>
        <property name="maxResults" value="${events.calendar.maxResults}"/>
        <property name="summaryService" ref="summaryService"/>
        <property name="calendarService" ref="calendarService"/>
        <property name="reminderMinutes" value="${dailyduty.reminder.minutes}"/>
    </bean>

    <bean id="holidayEventsService" class="ru.svalov.ma.planner.google.GoogleCalendarEventsService">
        <property name="calendarId" value="${holiday.calendar.id}"/>
        <property name="eventFactory" ref="calendarEventFactory"/>
        <property name="maxResults" value="${holiday.calendar.maxResults}"/>
        <property name="summaryService" ref="summaryService"/>
        <property name="calendarService" ref="calendarService"/>
    </bean>

    <bean id="laborEventsService" class="ru.svalov.ma.planner.google.GoogleCalendarEventsService">
        <property name="calendarId" value="${labor.calendar.id}"/>
        <property name="eventFactory" ref="calendarEventFactory"/>
        <property name="maxResults" value="${labor.calendar.maxResults}"/>
        <property name="summaryService" ref="summaryService"/>
        <property name="calendarService" ref="calendarService"/>
    </bean>

    <bean id="employeesProvider" class="ru.svalov.ma.data.google.GoogleSpreadsheetEmployeesProvider">
        <property name="sheetsService" ref="sheetsService"/>
        <property name="sheetUrl" value="${employee.sheet.url}"/>
    </bean>

    <bean id="calendarEventFactory" class="ru.svalov.ma.planner.google.GoogleCalendarEventFactory">
        <property name="summaryService" ref="summaryService"/>
    </bean>

    <bean id="summaryService" class="ru.svalov.ma.planner.CalendarEventSummaryService">
        <property name="summarySeparator" value=":"/>
    </bean>

</beans>